.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
  }
  
  .nav-icons {
    display: flex;
    justify-content: flex-start;
  }
  
  .nav-icons svg {
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.4s;
  }
  
  .nav-icons .LinkedIn:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .nav-icons .Email:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .Github:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 90px;
    font-size: 20px;
  }
  
  .nav-connect {
    padding: 18px 36px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 19px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .nav-connect:hover {
    transform: scale(1.05);
  }
  


  .nav-icons a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  .nav-icons a:hover {
    color: inherit; /* Inherit color on hover */
  }
  .nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .nav-menu li img{
    display: flex;
    margin: auto;
  }
.anchor-link{
  text-decoration: none;
  color: white;
}
.nav-mob-open{
  display: none;
}
.nav-mob-close{
  display: none;
}
@media(max-width:768px){
  .navbar{
    margin: 20px 50px;
    margin-left: auto; /* This pushes the container to the right */
  margin-right: 0; /* Resetting the default margin to ensure it shifts properly */
  width: 80%; /* You can adjust the width as per your requirement */
  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1F0016;
    width: 350px;
    height: 100%;
    z-index: 4;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}