.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
  }
  
  .nav-icons {
    display: flex;
    justify-content: flex-start;
  }
  
  .nav-icons svg {
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.4s;
  }
  
  .nav-icons .LinkedIn:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .nav-icons .Email:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .nav-icons .Github:hover svg {
    fill: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    transform: scale(1.075);
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
  }
  
  .nav-connect {
    padding: 18px 36px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 19px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .nav-connect:hover {
    transform: scale(1.05);
  }
  